.keys {
  display: flex;
  flex-direction: column;
  font-size: 2555;
  width: 20px;
}
.mainHead {
  display:flex;
 
  justify-content: center;
  background-color: aquamarine;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 15px;
  align-items: center;
  
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.filterBar {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  border:1px solid black;
  height: 50px;
}
.filterBar__price{
  display: flex;
  flex-direction: row;
}
.filterBar__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:70%
}